<style>
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column-reverse;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>here is the login</span>
  <div class="spacer"></div>
</div>
<div class="content" role="main">
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-black">
          <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085"></i>
            <H2 style="align-items: center;">Acesso ao Sistema</H2>
          </div>
          <br>
            <br>
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-5 pt-xl-0 mt-xl-n5">
            <!--  -->
            <form class="form mt-4" style="width: 23rem" class="was-validated">
              <div class="form-outline mb-4">
                <input type="text" name="login" [(ngModel)] = "user.login" id="login" class="form-control form-control-lg"
                 placeholder="Informe o usuario..." value="Mark" required>
                 <div class="valid-feedback">Valid.</div>
                 <div class="invalid-feedback">Please fill out this field.</div>
                <!-- validaçao do campo -->
              </div>
              <div class="form-outline mb-4">
                <input type="password" name="senha" [(ngModel)] = "user.senha" id="senha" class="form-control form-control-lg"
                placeholder="Informe a senha..." required>
                  <div class="valid-feedback">Valid.</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                <!-- validaçao do campo -->
              </div>
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit" (click)="login()" style="width: 23rem">
                  Acessar
                </button>
              </div>
              <p>
                Não tem uma conta ? <a class="link-info">Registre-se Aqui</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
