<!-- <div id="mySidepanel" class="sidepanel">
  <a href="script.js" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<button class="openbtn" onclick="openNav()">&#9776; Toggle Sidepanel</button>
<h2>Collapsed Sidepanel</h2>
<p>Content...</p>

<div [ngClass]="{ 'active-menu': mostraMenu }">
  <div class="menu-bar">
    <i class="fa fa-window-close" (click)="abreMenu()" (keyup.space)="abreMenu()">
    </i>
    <p>Teste de acesso !!!!!!!</p>
    <ng-content></ng-content>
  </div>

  <div class="overlay" (click)="abreMenu()"></div>
</div> -->
